@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#root {
  background-color: #161a1d;
  display: flex;
  align-items: flex-start;
  height: 100vh;
  padding: 20px;
}

.todo-list {
  display: flex;
  flex: 1;
  grid-gap: 30px;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.todolist_header {
  display: flex;
  justify-content: space-between;
}

form {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  max-width: 600px;
}

textarea {
  resize: none;
  outline: none;
  color: #ffffffbe;
  flex: 1;
  padding: 0.5rem;
  font-size: 14px;
  border-radius: 4px;
  background-color: #21272c;
  border: 1px solid #333c43;
}

textarea::placeholder {
  color: #fff7;
}

button {
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  color: #21272c;
  border-radius: 4px;
  align-items: center;
  padding: 0.5rem 1rem;
  display: inline-flex;
  background: #579dff;
  justify-content: center;
  transition: background-color 0.3s;
}

button:hover {
  background: #83b7ff;
}

hr {
  margin-block: 20px;
  border: none;
  border-bottom: 1px solid #333c43;
}

.task-header input[type="text"] {
  width: 100%;
  resize: none;
  outline: none;
  color: #ffffffbe;
  flex: 0 0 auto;
  padding: 0.5rem;
  font-size: 14px;
  border-radius: 4px;
  max-width: 300px;
  background-color: #21272c;
  border: 1px solid #333c43;
}

.task-header input[type="text"]::placeholder {
  color: #999;
}

.task-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

ul {
  padding: 0;
  overflow: auto;
  max-height: 330px;
  padding-right: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}

ul::-webkit-scrollbar {
  width: 3px;
}

ul::-webkit-scrollbar-thumb {
  background-color: #fff2;
  border-radius: 10px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px 8px 15px;
  background-color: #21272c;
  border: 1px solid #333c43;
  gap: 20px;
  border-radius: 4px;
  font-size: 14px;
  color: #fffa;
  transition: background-color 0.2s;
}

li:hover {
  background-color: #1d2429;
}

.actions {
  gap: 3px;
  display: flex;
  align-items: center;
  align-self: flex-end;
}

.actions svg {
  width: 100%;
  height: 100%;
}

.actions button {
  background: none;
  background-color: #161a1d;
  border: none;
  height: 24px;
  padding: 4px;
  aspect-ratio: 1;
  cursor: pointer;
}

li.completed {
  text-decoration: line-through;
}

.total-tasks {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total-tasks p {
  color: #fff9;
  font-size: 14px;
}

.total-tasks span {
  color: #fff9;
}

.no-tasks {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff6;
  font-size: 16px;
  padding: 20px;
  flex: 1;
}

.assign-task-list {
  max-width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
}